MusicManager/TestProject1/Service References/AzureMusic/ServiceMusic1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceMusic" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:81/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:81/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:81/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" />
      <xsd:import schemaLocation="http://127.0.0.1:81/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://127.0.0.1:81/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceMusic_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServiceMusic_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMusic_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IServiceMusic_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMusic_GetMellowSongs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMellowSongs" />
  </wsdl:message>
  <wsdl:message name="IServiceMusic_GetMellowSongs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMellowSongsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMusic_GetRandomSongs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomSongs" />
  </wsdl:message>
  <wsdl:message name="IServiceMusic_GetRandomSongs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomSongsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMusic_GetRecentSongs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecentSongs" />
  </wsdl:message>
  <wsdl:message name="IServiceMusic_GetRecentSongs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecentSongsResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceMusic">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMusic/GetData" message="tns:IServiceMusic_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMusic/GetDataResponse" message="tns:IServiceMusic_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMusic/GetDataUsingDataContract" message="tns:IServiceMusic_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMusic/GetDataUsingDataContractResponse" message="tns:IServiceMusic_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMellowSongs">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMusic/GetMellowSongs" message="tns:IServiceMusic_GetMellowSongs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMusic/GetMellowSongsResponse" message="tns:IServiceMusic_GetMellowSongs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRandomSongs">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMusic/GetRandomSongs" message="tns:IServiceMusic_GetRandomSongs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMusic/GetRandomSongsResponse" message="tns:IServiceMusic_GetRandomSongs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecentSongs">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMusic/GetRecentSongs" message="tns:IServiceMusic_GetRecentSongs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMusic/GetRecentSongsResponse" message="tns:IServiceMusic_GetRecentSongs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceMusic" type="tns:IServiceMusic">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServiceMusic/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IServiceMusic/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMellowSongs">
      <soap:operation soapAction="http://tempuri.org/IServiceMusic/GetMellowSongs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomSongs">
      <soap:operation soapAction="http://tempuri.org/IServiceMusic/GetRandomSongs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecentSongs">
      <soap:operation soapAction="http://tempuri.org/IServiceMusic/GetRecentSongs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceMusic">
    <wsdl:port name="BasicHttpBinding_IServiceMusic" binding="tns:BasicHttpBinding_IServiceMusic">
      <soap:address location="http://127.0.0.1:81/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>